/* body{
  background-color: aqua;
}

.container{
  width: 20%;
  margin: 10% auto;
}

input{
  width: 50%;
  font-size: 2em;
}

button{
  width: 50%;
  font-size: 2em;
  margin-top: 10%;
  min-width: 120px;
} */


